.myMasonryGrid {
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .myMasonryGridColumn {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  .masonryItem {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
  }
  .masonryItem img {
    transition: transform 0.5s ease;
  }
  .masonryItem:hover img {
    transform: scale(1.05);
  }
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .lightbox img {
    max-width: 90%;
    max-height: 90%;
  }

  /* Lightbox Overlay */
.lightboxOverlay {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Lightbox Content */
/* .lightbox {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 80%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* Close Button */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton:hover {
  background: rgba(0, 0, 0, 0.8);
}