.myMasonryGrid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.myMasonryGridColumn {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.masonryItem {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}
.masonryItem img {
  transition: transform 0.5s ease;
}
.masonryItem:hover img {
  transform: scale(1.025);
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
.modalContent {
  position: relative;
  background: transparent;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}