.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }
  
  .logo {
    margin: 1em 0;
  }
  
  .logo a {
    display: inline-block;
  }
  